.cart{
    color: black;
    margin-right: 20px;
    text-decoration: none!important;
}
.cart :hover{
    color:yellow;
    font-size: 30px;
    
}
.login:hover{
    background-color: blue;
    color: white!important;
    border-radius: 30px;
}

.numberCircle {
    position: relative;
    top: -12px;
    left: 38px;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    padding: 1px;
    background: blue;
    border: 2px solid blue;
    color: white;
    text-align: center;
    /* text-decoration: none; */
    font: 12px Arial, sans-serif;
}
.numberCircle:hover{
    background-color: blue;
    color: white!important;
    border-radius: 30px;
}
.bc{
    background-color: #708119bb;  
}

.tc{
    color:white;
    padding:15px 20px;
    font-size: 16px;
}

.hv:hover{
    color:yellow;
    font-size: 18px;
}

.navbar{
    padding:5px;
    height:100px;
}

.container-fluid{
    height: 100px;
}

.lp{
    /* margin-top: 40px; */
    width: 150px;
   padding-right: 30px;
}

.ip{
    width:35px;
}

.hvv:hover{
    background-color: black;
    color:blanchedalmond
}

.drop-link{
    color:white;
/* position: relative; */
/* bottom:4px; */
    font-size: 16px;
}
.drop-link:hover{
    color:yellow;
    font-size: 18px;
    text-decoration: none;
}
#navbarSupportedContent{
  
    margin: 0px 90px;
}