.qbBody .public{
    background:pink;
    padding-top:50px;
    padding-bottom:100px;
    margin-top:50px;
    border:5px solid #A33B3B;
    border-radius:10px;
}
.qbBody .carousel-image{
    /* width:350px; */
    height:220px;
}
.qbBody .private{
    background: #FFE4C4;
    padding-top:50px;
    padding-bottom:100px;
    margin-top:50px;
    border:5px solid #A33B3B;
    border-radius:10px;
}
.publichead{
    margin-left: 30px;
    margin-top: 20px;
    background-color: crimson;
    width: 240px;
    padding: 10px;
    border-radius: 10px;
   
}

.qbImg{
    width: 100%;
    /* margin: 0px 10px!important; */
}